<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                    <a class=navbar-brand href="/"> 
                        <span id="navbrand_text">Flight</span><span id="navbrand_text2">Radar</span>
                    </a>
                    <ul class="login-buttons">
                        {%if session["user_id"] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log In</a>
                        </li>
                        {% endif %}
                    </ul>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    {% if session["user_id"] %}
                    <li class="nav-item">
                        <a class="nav-link" href="/flights">Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tracker">Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookmarks">Bookmarks</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %} 
        {% endblock %} 
    </footer>
    <script src="static/script.js"></script>
</body>
</html>